@import '../../style/variables.scss';

.moviesList {
    display: flex;
    flex-wrap: wrap;
    margin: 46px 0;
    gap: 37px 26px;
    align-items: baseline;
    position: relative;

    .root-wrapper {
        flex: 0 1 178px;

        .movie-card {
            box-sizing: border-box;
            border-radius: 11px;
            cursor: pointer;
            margin-top: 0;
            transition: ease-out 0.3s;

            .movie-banner {
                img {
                    object-fit: cover;
                    object-position: center;
                    width: 100%;
                    border-radius: 6px;
                }
            }

            p {
                white-space: nowrap;
                text-overflow: ellipsis;
                max-width: 150px;
                overflow: hidden;
            }

            .icon-controls {
                display: flex;
                gap: 8px;

                svg {
                    font-size: 20px;
                }
            }

            &.active {
                margin-top: 425px;
            }
        }
    }
}

.details-wrapper.MuiBox-root {
    height: 0;
    position: absolute;
    left: 0;
    width: 100%;

    .movie-details.MuiBox-root {
        display: flex;
        align-items: center;

        .movie-bg {
            overflow: hidden;
            border-radius: 11px;
            height: 0;
            background-color: $GREY;

            .details-card {
                display: flex;
                align-items: center;

                .movie-poster {
                    line-height: 0;
                    opacity: 0;
                    transition: 0.3s;
                    transition-delay: 1s;
                    .details-close{
                        display: none;  
                        position: absolute;
                        right: 0;
                        top: 0;
                        font-size: 30px;
                        background-color: $GREY;
                    }
                    img {
                        object-fit: cover;

                    }
                }

                .movie-info {
                    opacity: 0;
                    transform: translateY(20px);
                    transition: 0.3s;
                    transition-delay: 1s;

                    .imdb-rating {
                        transition-delay: 1s;
                        opacity: 0;
                    }
                }
            }
        }

        .movie-info {
            padding: 0 42px;

            .imdb-rating {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                margin-top: 7px;
                margin-bottom: 17px;

                .rating-bar {
                    margin-right: 12px;
                }
            }

            .info {
                font-weight: 600;
                line-height: 31px;
            }

            .description {
                margin-top: 24px;
                font-size: 14px;
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
            }

            .button-wrap {
                margin-top: 21px;

                button {
                    &:first-child {
                        margin-right: 16px;
                    }
                }
            }
        }
    }

    &.active {
        height: 389px;

        .movie-details.MuiBox-root {
            height: 100%;

            .movie-bg {
                height: 100%;
                width: 100%;
                transition: ease-out 0.4s 0.4s;
            }

            .details-card {

                // opacity: 1;
                .movie-poster {
                    opacity: 1;

                    img {}
                }

                .movie-info {
                    opacity: 1;
                    transform: translateY(0);

                    .imdb-rating {
                        opacity: 1;
                    }
                }
            }
        }
    }
}

@media (max-width:1024px) {
    .moviesList {
        gap: 26px 18px;
        margin: 30px 0;
    }
}

@media (max-width:768px) {
    .moviesList {
        .root-wrapper {
            flex: 0 1 160px;

            .movie-card {
                p {
                    max-width: 130px;
                }
            }
        }

        .details-wrapper.MuiBox-root {
            .movie-details.MuiBox-root {
                .movie-bg {
                    .details-card {
                        flex-direction: column;
                    }
                }
            }
        }
    }
}

@media (max-width:500px) {
    .moviesList {
        justify-content: space-between;

        .root-wrapper {
            flex: 0 1 47%;
            .movie-card{
             p {
                max-width: 110px;
            }
            &.active{
                margin-top: 470px;
            }
        }
        }

        .details-wrapper.MuiBox-root.active {
            height: initial;

            .movie-details.MuiBox-root {
                .details-card {
                    .movie-poster {
                        width: 100%;
                        position: relative;
                        transition-delay: 0.4s;
                        img {
                            width: 100%;
                            height: auto;
                        }
                        .details-close{
                            display: block;
                        }
                    }

                    .movie-info {
                        padding: 20px 20px;
                        transition-delay: 0.4s;
                        .button-wrap{
                            button{
                            font-size: 14px;
                            }
                        }
                    }

                }
            }
        }
    }
}